<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Vianetz_Utilities>
			<version>1.0.4</version>
		</Vianetz_Utilities>
	</modules>
    <global>
        <models>
            <vianetz_utilities>
                <class>Vianetz_Utilities_Model</class>
            </vianetz_utilities>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product>Vianetz_Utilities_Model_Catalog_Resource_Eav_Product</product>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <helpers>
            <vianetz_utilities>
                <class>Vianetz_Utilities_Helper</class>
            </vianetz_utilities>
        </helpers>
        <blocks>
            <vianetz_utilities>
                <class>Vianetz_Utilities_Block</class>
            </vianetz_utilities>
            <catalog>
                <rewrite>
                    <product_list>Vianetz_Utilities_Block_Catalog_Product_List</product_list>
                    <navigation>Vianetz_Utilities_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
            <customer>
                <rewrite>
                    <account_navigation>Vianetz_Utilities_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_breadcrumbs>Vianetz_Utilities_Block_Page_Html_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <vianetz_utilities_wysiwyg>
                        <type>model</type>
                        <class>vianetz_utilities/observer</class>
                        <method>configureWysiwyg</method>
                    </vianetz_utilities_wysiwyg>
                </observers>
            </cms_wysiwyg_config_prepare>
        </events>
        <!-- Allow other filetypes to be uploaded in backend -->
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <pdf>1</pdf>
                        <zip>1</zip>
                        <tar.gz>1</tar.gz>
                        <tgz>1</tgz>
                        <vcf>1</vcf>
                        <cer>1</cer>
                    </allowed>
                    <image_allowed>
                        <pdf>1</pdf>
                        <zip>1</zip>
                        <tar.gz>1</tar.gz>
                        <tgz>1</tgz>
                        <vcf>1</vcf>
                        <cer>1</cer>
                    </image_allowed>
                </extensions>
            </browser>
        </cms>
        <layout>
            <updates>
                <vianetz_utilities>
                    <file>vianetz_utilities.xml</file>
                </vianetz_utilities>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <vianetz_utilities>
            <cache_block>
                <cache_navigation_lifetime>0</cache_navigation_lifetime>
                <cache_product_list_lifetime>0</cache_product_list_lifetime>
            </cache_block>
        </vianetz_utilities>
    </default>
</config>